<h1><%= @page.title %></h1>
	<p><%= @page.content.html_safe %></p>

<h2>This page can be accessed from this menus:</h2>
<ul>
	<% @page.menus.each do |menu| %>
	<li><%= link_to menu.name, admin_menu_path(menu) %></li>
	<% end %>
</ul>

<h2>News on this page:</h2>
<ul>
	<% @page.news.each do |news| %>
	<li><%= link_to news.title, admin_news_path(news) %></li>
	<% end %>
</ul>
<p>Page created: <%= @page.created_at.strftime '%d. %m. %Y at %T UTC' %> | Last updated: 
	<%= @page.updated_at.strftime '%d. %m. %Y at %T UTC' %></p>