<%= simple_form_for(@menu) do |f| %>
	<% if @menu.errors.any? %>
		<p>The form contains <%= pluralize(@menu.errors.count, "error") %>.</p>
	    <ul>
	    	<% @menu.errors.full_messages.each do |msg| %>
	    		<li class="error"><%= msg %></li>
	    	<% end %>
	    </ul>
	<% end %>
	<%= f.label :name %>
	<%= f.text_field :name %> <br>
	<%= f.association :pages, as: :check_boxes %>
	<%= link_to 'New Page', new_page_path %> 
	<%= f.submit %>






<% end %>