<h1>Main News</h1>
<%= link_to 'Create News', new_news_path %>
<table>
	<tr>
		<th>ID</th>
		<th>Title</th>
		<th>Page</th>
		<th></th>
		<th></th>
		<th>Created</th>
		<th>Updated</th>
	</tr>
	<% @news.each do |news| %>
		<tr>
			<td><%= news.id %></td>
			<td><%= link_to news.title, news %></td>
			<td><%= link_to news.page.title, news.page %></td>
			<td><%= link_to 'Delete', news, confirm: 'News will be deleted!',
											method: :delete %></td>
			<td><%= link_to 'Edit', edit_news_path(news) %></td>	
			<td><%= news.created_at.strftime '%d. %m. %Y at %T UTC' %></td>
			<td><%= news.updated_at.strftime '%d. %m. %Y at %T UTC' %></td>		
		</tr>
	<% end %>
</table>
